//light mode
$blue-light-mode: hsl(212, 100%, 50%);
$grey-light-mode: hsl(217, 20%, 51%);
$blue-grey-light-mode: hsl(217, 35%, 45%);
$black-light-mode: hsl(217, 21%, 21%);
$light-blue-light-mode: hsl(227, 100%, 98%);
$white-light-mode: hsl(0, 0, 100%);
$alert-light-mode: hsl(0, 91%, 62%);

//dark mode
$blue-dark-mode: hsl(212, 100%, 50%);
$white-dark-mode: hsl(0, 0, 100%);
$black-dark-mode: hsl(220, 40%, 13%);
$dark-blue-dark-mode: hsl(222, 41%, 20%);
$blue-hover-dark-mode: hsl(222, 44%, 70%);
